<!DOCTYPE html>
<html>
        {{>head}}


<body> 
    <div class="main-content">

    {{>header}}
    <p>This site was created by one of the greatest developers ever. It uses data from  mapbox.com and darksky.net</p>
<img class="portrait" src="/img/Boat Photo.PNG">
    </div>
{{>footer}}

</body>
</html>