<!DOCTYPE html>
<html>
        {{>head}}

<body>
    <div class = "main-content">
    {{>header}}
    <p>Enter a location to get a weather forecast</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src = "/js/app.js"></script>
    </body>
</html>